<ul class="list-unstyled  text-gris small">                         
	<% @search.each  do |tweet| %>
		<li>
			<span class="glyphicon glyphicon-music text-info"></span>&nbsp; <%= tweet.text%> 
			<span class="text-gris-oscuro">  <%= time_ago_in_words(tweet.created_at) %></span>       
		</li>
	<%  end %>

	<a href="http://twitter.com/tunombredeusuario" title="Twitter">
		<%= image_tag("iconotwitter.png", class:"pull-right") %>
	</a>
</ul>